@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding: 10px 40px 10px 70px;
  border: none;
  position: relative;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: black;
}

nav ul li.log-ico {
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  display: none;
}

nav label[for="nav-burger"] span {
  font-size: 29px;
  flex: 0.6;
}

nav ul div.menu-items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.menu-items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  letter-spacing: 0.03em;
}

nav ul div.menu-items a:hover {
  color: grey;
}

input[type="checkbox"],
label[for="nav-burger"] {
  display: none;
}

input[type="checkbox" i] {
  box-sizing: border-box;
  padding: 30px;
  cursor: pointer;
  border: initial;
  appearance: auto;
}

@media screen and (max-width: 1052px) {
  nav {
    padding: 10px 40px 10px 0px;
  }

  nav ul li.logo {
    display: none;
  }

  nav ul li.log-ico {
    display: block;
    flex: 0.2;
    margin-right: 20px;
  }

  nav ul div.menu-items {
    flex: 4;
  }
}

@media screen and (max-width: 800px) {
  nav label[for="nav-burger"] span {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  nav ul li.log-ico {
    flex: 0.5;
  }

  nav {
    z-index: 1000;
    padding: 9px 40px 9px 0;
  }

  nav ul div.menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
  }

  ul.nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  ul.nav_menu li {
    line-height: 3;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  ul.nav_menu li a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }

  nav label[for="nav-burger"] {
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    margin: 0 38px;
  }

  input[type="checkbox"]:checked ~ .menu-items {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  nav ul {
    flex-wrap: nowrap;
  }

  nav ul li.burger-btn {
    flex: 0.6;
  }

  nav ul li input {
    width: 40vmin;
  }
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}

.content-container .text {
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}

.content-container .p {
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}

/*  HOME */

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 4rem;
}

.top {
  margin-top: 200px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 300px;
  margin-top: 100px;
}

a {
  color: black;
  text-decoration: none;
}

i {
  margin-right: 10px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.home p {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 150px;
  margin-bottom: -50px;
}

.home i {
  font-size: medium;
}

@media screen and (max-width: 680px) {
  .home {
    height: 150vh;
  }

  .home p {
    margin-top: 50px;
  }
}

/* À PROPOS */

.apropos {
  width: 100vw;
  height: 200vh;
}

.apropos h2 {
  margin-top: 100px;
  margin-left: 30px;
  text-decoration: underline;
}

.apropos img {
  width: 70%;
  height: 160%;
  margin: 50px;
}

.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  /* grid-auto-rows: 200px; Création de ligne automatique de 200px */
  /*   grid-template-rows: repeat(2,200px); Répétition de 2 row de 200px */
  /*   grid-template-rows: 400px 200px;  2 Lignes de tailles différentes */
  grid-auto-rows: 200px 400px; /* Boucle de row auto avec taille 200px et 400px */
  gap: 1em; /* gouttière entre les éléments */
  grid-template-areas: "img txt txt";
}

.img {
  grid-area: img;
}

.txt {
  grid-area: txt;
  grid-column: 2/4;
  grid-row: 1/3;
  margin-top: 100px;
}

.comp {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comp h2 {
  margin-top: -10px;
  text-align: center;
}



.logiciels h2 {
  margin-top: 100px;
}

.logiciels ul {
  display: flex;
  justify-content: space-evenly;
}

.logiciels li {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 680px) {
  .apropos {
    width: 100vw;
    height: 270vh;
  }

  .apropos img {
    width: 80%;
    height: 90%;
    margin: 50px;
  }

  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "img"
      "txt";
  }

  .img {
    grid-area: img;
  }

  .txt {
    grid-area: txt;
    margin-top: 100px;
  }

  .comp {
    width: 100%;
    margin-top: 30px;
  }

  .logiciels ul {
    display: flex;
    flex-direction: column;
  }

  .logiciels li {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
  }
}

/*    HOVER TABS PROJETS */

.tabs-projects {
  width: 100%;
  height: 800px;
}

.tabs-projects h2 {
  text-decoration: underline;
  margin-bottom: 50px;
  margin-left: 30px;
}

/* Style the tab */
* {
  padding: 0;
  margin: 0;
}

.tabs-projects {
  margin-top: 10px;
}

.project {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 215px;
}

/* Style the buttons that are used to open the tab content */
.project button {
  display: block;
  background-color: inherit;
  color: black;
  font-size: large;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.project button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.project button.active {
  background-color: #ccc;
}

/* Style the tab content */
.projectcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

@media screen and (max-width: 680px) {
  .tabs-projects {
    width: 100%;
    height: 600px;
  }
}

/* FORMULAIRE */

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.container {
  /* Ajouter box-sizing */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  /* redéfinition 400 + 2*20 */
  max-width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}
.container h1 {
  width: 100%;
  text-align: center;
}

div.button {
  display: flex;
  justify-content: center;
}

button {
  width: 20%;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #f2f2f2;
}

button p {
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 680px) {
  button {
    width: 70px;
  }
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  box-shadow: 0 -10px 20px -5px #888888;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: black;
  flex-direction: row;
  margin: 50px;
}
